<!DOCTYPE html>
<html>
<head>
    <title>Chandu Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash">{{ messages[0] }}</div>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
